<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/68dc300a0c.js" crossorigin="anonymous"></script>
</head>
<body style="background-image:url('https://img.freepik.com/free-vector/night-rice-field-terraces-asian-mountains-landscape-with-paddy-plantation-cascades-chinese-agricultural-farm-dark-starry-sky-with-full-moon-glowing-fireflies-cartoon-vector-illustration_107791-10584.jpg?size=626&ext=jpg&ga=GA1.2.1354448374.1663133716')">
   <center>
    <h1 style="color: white;">Services</h1><br></center>
 <div class="container">
    <h2 style="color: white;">We Provide various touring experience. Such as:</h2><br>
    <div class="row">
<div class="card-deck">
  <div class="card">
   <img class="card-img-top" src="https://media.istockphoto.com/vectors/traffic-vector-id1179663618?k=20&m=1179663618&s=612x612&w=0&h=3t9gAH1AfJMER4vqtn-DWRU3Si3LnwEcYxn_OY_5Hzc=" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Transports</h5>
      <p class="card-text">We will be Providing you 24hrs cab Facilities. Either a car or Travel bus we Assure 100% safety during Travel.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://media.istockphoto.com/vectors/roommates-friends-flat-color-vector-faceless-characters-college-vector-id1304966246?k=20&m=1304966246&s=612x612&w=0&h=au24DvA6CHBgK-7nw6q55qT8pVS61eDO77Nh9VE3g90=" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Accomodation</h5>
      <p class="card-text">We are Providing Accomodations in Hotels as per the Travellers wish. We have various tieups with resorts to make Travel Even more Beautifull</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://media.istockphoto.com/vectors/cartoon-animation-of-various-cuts-of-meat-vector-id137438290?k=20&m=137438290&s=612x612&w=0&h=bXQBc5nN3xCu7Nb9j5pVF9_GUaTWRTZ69_3Sm1VFr4o=" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Meals and Drinks</h5>
      <p class="card-text">We provide 3 times Food Facilities with Snacks and Tea . This is Included in a Single day Tourism package also.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <h3>Entertainments</h3>
<div class="card-deck">
  <div class="card">
   <img class="card-img-top" src="https://img.freepik.com/free-vector/camping-place-cartoon-composition-with-yellow-tent-lamp-pot-with-dinner-fire-night-sky_1284-54945.jpg?size=626&ext=jpg&ga=GA1.2.1354448374.1663133716" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fire Camp</h5>
      <p class="card-text">We are FireCamp to make your trip More Ethusiastic travel in Cold Travelling Area</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://img.freepik.com/premium-vector/boy-girl-are-sailing-boat-young-couple-is-relaxing-lake_165429-390.jpg?size=626&ext=jpg&ga=GA1.2.1354448374.1663133716" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Boating experience</h5>
      <p class="card-text">We are Providing Boat House Ride to make your Tourism more Interesting.We will make possible for atleat 3 Boat rides in a Tourism pack</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://img.freepik.com/free-vector/couple-date-character-set_1262-18139.jpg?size=626&ext=jpg&ga=GA1.2.1354448374.1663133716" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DJ System</h5>
      <p class="card-text">We provide Musical Inagurations, parties in a Tourism pack</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
    </div>
</div>
</div>
</body>
</html>