<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/68dc300a0c.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: rgb(116, 218, 255);">  
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">AMJ Tourism of India</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#id1">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employee/service">service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employee">Book a Tour</a>
      </li>
    </ul>
    <span>
      <li class="nav-item">
        <a class="nav-link" href="/employee/list">View Bookings</a>
      </li>
    </span>
  </div>
</nav>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://media.istockphoto.com/photos/city-lights-india-picture-id1194292436?k=20&m=1194292436&s=612x612&w=0&h=FVp739BwIy1tmncvU5lR0XUHoE-IeyVQiXnk5ExxvrM=" height="400px" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>Welcome to tourism of India</h5>
    <p>Join us, Make Your Travel more Interesting</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://media.istockphoto.com/photos/china-and-india-two-flags-together-textile-cloth-fabric-texture-picture-id1093161914?k=20&m=1093161914&s=612x612&w=0&h=akhLxC6l8QKa9kvYCJxx8wTHFZeNSwPmxnPzy09bkQM=" alt="Second slide" height="400px"> 
    <div class="carousel-caption d-none d-md-block">
    <h5>Welcome to tourism of India</h5>
    <p>Join us, Make Your Travel more Interesting</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://media.istockphoto.com/vectors/india-vector-illustration-vector-id509242466?k=20&m=509242466&s=612x612&w=0&h=j49MH0SkXv_5-q39La6Ng_QdQYhf017xSNXmiw-jr7o=" height="400px" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>Welcome to tourism of India</h5>
    <p>Join us, Make Your Travel more Interesting</p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><br><br><br>
<section id="id1">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-new-delhi.jpg" alt="Card image cap">
  <div class="card-body">
    <h5>Humayun's Tomb</h5>
    <p class="card-text"> The colorful capital of India is the perfect marriage of heritage and modernity. </p>
  </div>
</div><br>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-rajasthan.jpg" alt="Card image cap">
  <div class="card-body">
    <h5>Gadi Sagar Temple in Jaisalmer, Rajasthan</h5>
    <p class="card-text">Translated to "Land of Kings," Rajasthan brims with remnants of the kings and queens of past centuries. </p>
  </div>
</div><br>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-goa.jpg" alt="Card image cap">
  <div class="card-body">
    <h5>Palolem Beach, South Goa</h5>
    <p class="card-text">One unique part of Goa is its blend of Indian and Portuguese cultures. You'll experience the fusion throughout the destination, from its Baroque architecture and cathedrals to its spicy vindaloo curries and seafood dishes.</p>
  </div>
</div><br>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-amritsar.jpg" alt="Card image cap">
  <div class="card-body">
    <h5>The Golden Temple in Amritsar</h5>
    <p class="card-text">Amritsar, the "Jewel of Punjab," has made its claim to fame with its remarkable Golden Temple.</p>
  </div>
</div>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
  <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/10/10/20/33/mehtab-bagh-6698669_960_720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Taj Mahal</h5>
    <p class="card-text">The Taj Mahal is a mausoleum complex in Agra, western Uttar Pradesh state, northern India. It is considered the finest example of Mughal architecture (a blend of Indian, Persian, and Islamic styles). The Taj Mahal is also one of the world’s most iconic monuments, visited by millions of tourists each year. The complex was designated a UNESCO World Heritage site in 1983.
      The Taj Mahal was built as a tomb for Mumtaz Mahal (“Chosen One of the Palace”) by her husband, the Mughal emperor Shah Jahān (reigned 1628–58). She died in childbirth in 1631, after having been the emperor’s inseparable companion since their marriage in 1612.
    </p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">India Gate</h5>
    <p class="card-text">At the centre of New Delhi stands the 42 m high India Gate, an "Arc-de-Triomphe" like archway in the middle of a crossroad. Almost similar to its French counterpart, it commemorates the 70,000 Indian soldiers who lost their lives fighting for the British Army during the World War I. The memorial bears the names of more than 13,516 British and Indian soldiers killed in the Northwestern Frontier in the Afghan war of 1919.
The foundation stone of India Gate was laid by His Royal Highness, the Duke of Connaught in 1921 and it was designed by Edwin Lutyens. The monument was dedicated to the nation 10 years later by the then Viceroy, Lord Irwin. Another memorial, Amar Jawan Jyoti was added much later, after India got its independence. The eternal flame burns day and night under the arch to remind the nation of soldiers who laid down their lives in the Indo-Pakistan War of December 1971.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img class="card-img-bottom" src="https://cdn.pixabay.com/photo/2020/02/02/17/24/travel-4813658_960_720.jpg" alt="Card image cap">
</div>
    </div>
  </div>
</div></section><br><br>
 <div class="container-fluid" style="background-image: url('https://cdn.pixabay.com/photo/2017/10/01/11/36/mountains-2805134_960_720.jpg');"><br>
        <h2>Things To Do in INDIA</h2><br>
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.pexels.com/photos/7023173/pexels-photo-7023173.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Card image cap">
                    <div class="card-body">
                      <h5>boat ride</h5>
                      <p class="card-text">Cruise the backwaters of Alleppey, also known as Alappuzha, on a 6 -7 hour tour from Fort Kochi and discover the famous inland waterways of Kerala by a traditional houseboat.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.pexels.com/photos/6796903/pexels-photo-6796903.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Card image cap">
                    <div class="card-body">
                      <h5>Visit Zoos</h5>
                      <p class="card-text">Since the introduction of Central Zoo Authority in 1992, the Authority has verified 347 zoos, out of which 164 have been acknowledged.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.pexels.com/photos/5205708/pexels-photo-5205708.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Card image cap">
                    <div class="card-body">
                      <h5>Visit Parks</h5>
                      <p class="card-text">There are 106 existing national parks in India covering an area of 44,372.42 km2, which is 1.35% of the geographical area of the country (National Wildlife Database, May. 2022).</p>
                    </div>
                  </div><br><br>
            </div>
        </div>
      </div><br><br>
      <div class="container-fluid" style="background-color: rgb(0, 136, 255);"><br><br>
        <div class="row">
            <div class="col-md-6">
                <h3>Book your Loveable Journey Soon..!</h3><br>
                <ul>
               <li>I love to travel because there is always something new to taste.</li> 
               <li> I love to travel because the souls you meet along the way leave an imprint on you and your own personal growth. You see things in awe, and make memories.</li>
               <li>I love to travel because it gives a sense of adventure and freedom. It allows us to get away from "normal" life, experience other cultures, to get to know places we have only seen in movies. We get to try new food and meet new people.</li>
               </ul>
              <h2>Find our Location Location Here...! </h2> 
              <p>No.29 A, Kakkan Street, idaiyangudi road, Thisaiyanvillai, Pincode-627657,Tirunelveli District</p><br>
              <h5>Contact Details</h5>
              <h6>Phone:6379942277</h6>
              <h6>Email: deepamercy33@gmail.com</h6>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1009431.7935452899!2d76.99981106937555!3d8.77732602461713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0411625053c519%3A0x31f15a4c5ff7b685!2sTirunelveli%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1662961489008!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
      </div>
      <script>
        $('.carousel').carousel({
  interval: 2000
})
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>